/*  Typography
    The font sizes and line heights have been calculated assuming a body font
    size of 14sp and a subhead font size of 16sp, which are the MD values for
    devices. The desktop sizes are 13sp and 15sp respectively.
    Letter spacing (tracking) values in the spec are assumed to be in units of
    1/1000 em. They are commented out as the results don't match the image in
    the spec.
 */
html > body {
    font-family: Roboto, 'Helvetica','Arial', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Improve layout of navigation elements. */
.mdl-navigation__link--icon > span,
.mdl-navigation__link--icon > .material-icons {
    vertical-align: middle;
}

mdl-layout-title {
 padding-left: 20px;   
}

/* Misc */
a {
    text-decoration:none;
}
.mdl-layout__content {
    background: #FAFAFA;
    //width: auto;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
}

.mdl-layout__content > table,th,td{
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    table-layout: fixed;
}

.mdl-layout__content > th{
     font-weight: bold;
}
	
.android-card-container .mdl-card__media img {
    width: 100%;
}

.mdl-grid {
    padding: 8px;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
}

.mdl-grid {
    display: flex;
    flex-flow: row wrap;
        flex-direction: row;
        flex-wrap: wrap;
    margin: 0px auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    align-items: stretch;
}

caption{
     font-weight: bold;
}

.login_screen {
    //display: inline-block;
    text-align: center;
    //width:100px; 
    margin:0 auto;
	padding:5px;  
}
/* For MD subheaders suitable for lists, menus and grids. */
.subheader {
    color: rgba(0, 0, 0, 0.54);
    padding-left: 16px;
    height: 48px;
    line-height: 48px;
}
/* For MD navigation drawer subheaders. */
nav > .subheader {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 8px;
}

/* For MD generic dividers. */
.divider {
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
}
/* For MD navigation drawer dividers. */
nav > .divider {
    margin: 8px 0;
}

#tbl_div div {
    display:none;
}
#tbl_div table{
    border-collapse: collapse;
    padding: 15px;
    table-layout: fixed;
}

<style>
DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
</style>