<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	</head>
<body>
	<nav th:fragment="navigation">

		<ul>
			<li sec:authorize="hasRole('ROLE_KITCHEN')"><a th:href="@{/kitchen}" href="kitchen.html" th:text="#{nav.kitchen}">Kuechenbereich</a></li>
			<li sec:authorize="hasRole('ROLE_STOCK')"><a th:href="@{/stock}" href="stock.html" th:text="#{nav.stock}">Lagerbereich</a></li>
			<li sec:authorize="!isAuthenticated()" class="loginlogout"><a th:href="@{/login}" th:text="#{nav.login}">Login</a></li>

			<li sec:authorize="isAuthenticated()" class="loginlogout">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" th:value="#{nav.logout}" />
				</form>
			</li>
			
		</ul>
	</nav>
</body>
</html>