<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<h1 class="login_screen" style="font-weight:lighter; padding-top:50px;" th:text="#{about.welcome}">Softwaretechnologie-Projekt (Wintersemester 2015/16)</h1>
			<div>
				<p class="login_screen" style="padding:15px; width:66%;" th:text="#{about.text}">About-Text</p>
			</div>
			<div class="login_screen">
				<ul>
					<li>
						<p style="text-align:left">Born, Jeannine</p>
					</li>
					<li>
						<p style="text-align:left">Haack, Lukas Adrian</p>
					</li>
					<li>
						<p style="text-align:left">Jüttner, Oliver</p>
					</li>
					<li>
						<p style="text-align:left">Precht, Jonas</p>
					</li>
					<li>
						<p style="text-align:left">Sandvig, Alfred</p>
					</li>
				</ul>
			</div>
            <br/>
            <div class="mdl-layout-spacer"></div>
        	<footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>