<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content" align="center">
			<h1 class="login_screen" th:text="#{createRecipe.welcome}">Rezepteverwaltung</h1>
			<p class="login_screen" th:text="#{createRecipe.instruct}">Doppelklicken zum Hinzufügen</p>
           	<br/>
            <div class="mdl-grid" align="center" style="width:100%">
  				<div class="login_screen mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet">
			<h2 th:text="#{createRecipe.all}">Zutaten</h2>
                <table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createGrocery.name}">Name</th>
                        <th th:text="#{createGrocery.metric}">Mengeneinheit</th>
                    </tr></thead>
                    <tbody id="allGroceries">
                    	<tr th:each="grocery : ${allGroceries} ">
							<td class="mdl-data-table__cell--non-numeric">
                            	<i class="material-icons" style="cursor:pointer" onmouseover="highlight(this)" onmouseout="normal(this)" id="add">add_circle</i>
                            </td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<input class="mdl-textfield__input" type="text" id="ing" name="ing" style="cursor:default; border-style:hidden" th:value="${grocery.name}" readonly =""/>
                            </td>
							<td th:text="${grocery.metric}"></td>
						</tr>
                 	</tbody>
            	</table></div>
                			
			<script type="text/javascript" src="/resources/js/recipe_handler.js"></script>
            <form class="login_screen mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet" th:action="@{/saveRecipe}" method="post">
            
               <h2 th:text="#{createRecipe.used}">Zutaten</h2>
               <table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createGrocery.name}">Name</th>
                        <th th:text="#{createGrocery.metric}">Mengeneinheit</th>
                        <th th:text="#{createRecipe.quantity}">Menge</th>
                    </tr></thead>
                    <tbody id="usedGroceries">
                 	</tbody>
            	</table>
                <br/>
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" align="center">
           			<input class="mdl-textfield__input" type="text" id="name" name="name" autofocus =""/>
    	        	<label class="mdl-textfield__label" for="name">Name des Rezeptes</label>
      			</div>
                <br/>
                <div class="mdl-textfield mdl-js-textfield">
    				<textarea class="mdl-textfield__input" type="text" rows= "5" id="description" name="description"></textarea>
    				<label class="mdl-textfield__label" for="description">Zubereitung und Hinweise</label>
  				</div>
                <br/>
				<button type="submit" id="submit" value="Rezept aufnehmen" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled="disabled"><em class="material-icons">playlist_add</em></button>
            
			</form>
                <script type="text/javascript" src="/resources/js/recipe_add_check.js"></script>
  				<div class="login_screen mdl-cell mdl-cell--10-col">
				<h2 th:text="#{createRecipe.recipes}">Rezepte</h2>
                <table class="login_screen mdl-data-table mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createRecipe.name}">Name</th>
                            <th class="mdl-data-table__cell--non-numeric" th:text="#{createRecipe.ingredients}">Zutaten</th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createRecipe.description}">Zubereitung und Hinweise</th>
                    </tr></thead>
                    <tbody><tr th:each="recipe : ${allRecipes} ">
							<td class="mdl-data-table__cell--non-numeric" th:text="${recipe.name}"></td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<table style="width:100%; border-style:hidden;">
									<tbody>	
										<tr th:each="ingredient : ${recipe.ingredients} ">
                                        	<td style="border-style:hidden" th:text="${ingredient.grocery.name}"></td>
                                 			<td style="border-style:hidden" th:text="${ingredient.quantity}+' '+${ingredient.grocery.metric}"></td>
                                 		</tr>										
									</tbody>
								</table>
                            </td>
							<td class="mdl-data-table__cell--non-numeric"><p style="max-width:500px" th:text="${recipe.description}"></p></td>
					</tr></tbody>
            </table>
                </div>
			</div>
            <div class="mdl-layout-spacer"></div>
            <footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>