<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<h1 class="login_screen" th:text="#{createMeal.welcome}"></h1>
			<p class="login_screen" style="width:66%" th:text="#{createMeal.instruct}"></p>
            
            <table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createRecipe.name}">Name</th>
                    </tr></thead>
                    <tbody id="allRecipes">
                    	<tr th:each="recipe : ${allVacantPostions} ">
							<td class="mdl-data-table__cell--non-numeric">
                            	<i class="material-icons" style="cursor:pointer" onmouseover="highlight(this)" onmouseout="normal(this)" id="add">add_circle</i>
                            </td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<input class="mdl-textfield__input" type="text" id="ing" name="name" style="cursor:default; border-style:hidden" th:value="${recipe.name}" readonly=""/>
                            </td>
						</tr>
                 	</tbody>
            	</table>
            
            <br/>
            <script type="text/javascript" src="/resources/js/meal_handler.js"></script>
            <form class="login_screen" th:action="@{/addMeal}" method="post">
			<table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createMeal.name}">Name</th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createMeal.mult}">Multiplikator </th><input type="hidden" id="initial_mult" value="2"/>
                        <th th:text="#{createMeal.line}">Menulinie</th>
                    </tr></thead>
                    <tbody id="usedRecipes">
                 	</tbody>
            	</table>
            
            <br/>
			<button type="submit" id="submit" value="Mahlzeit Erstellen" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled="disabled"><em class="material-icons" >add</em></button>
			</form>
            <div class="mdl-layout-spacer"></div>
            <br/>
        	<footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>