<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/newStyle.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/material.min.css" />
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_green-light_blue.min.css" /> 
    	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<title th:text="#{home.title}">eCatering</title>
	</head>
<body>
	<div class="all mdl-layout__container">
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer is-upgraded" data-upgraded=",MaterialLayout">
			<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">
                <span th:text="#{home.title}">Best-Food-Catering</span>
                <button id="demo-menu-lower-left"
        			class="mdl-button mdl-js-button mdl-button--icon">
  					<i class="material-icons">more_vert</i>
				</button>

				<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
  					<li disabled="disabled" class="mdl-menu__item">Impressum</li>
                    <li disabled="disabled" class="mdl-menu__item">Kontakt</li>
                    <i onclick="@{/logout}" class="material-icons">exit_to_app</i>
				</ul>
            </span>
            <nav class="mdl-navigation">
            	<a class="mdl-navigation__link mdl-navigation__link--icon" href="#">
                    <span>Home</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{userArea.title}">Stock</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="#" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <span>Placeholder</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{kitchen.title}">Kitchen</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createMeal" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <span>Mahlzeit erstellen</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/listMeals" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <span>Mahlzeitenliste</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{stock.title}">Stock</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createIngredient" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <span>Neue Zutat</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/listIngredients" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <span>Zutatenliste</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{accounting.title}">Stock</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="#" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <span>Platzhalter</span>
                </a>
            </nav>
		</div>
			<header class="mdl-layout__header is-casting-shadow">
				<div class="mdl-layout__drawer-button">
	           		<i class="material-icons">menu</i>
	           </div>
	           	<div class="mdl-layout__header-row">
               		 <span class="mdl-layout-title" th:text="#{createMeal.title}">Login</span>
            	</div>
            	
            	
			</header>
			<main class="mdl-layout__content">
			<p class="login_screen" th:text="#{createIngredient.welcome}">Willkommen beim eCatering.</p>
			
			
			<form class="login_screen" th:action="@{/addIngredient}" method="post">
			<table class="login_screen" style="border-collapse: collapse;">
				<thead>
                	<tr>
                		<th th:text="#{createIngredient.name}">Name</th>
				  		<th th:text="#{createIngredient.quantity}">Anzahl</th>
						<th th:text="#{createIngredient.price}">Preis</th>
						<th th:text="#{createIngredient.expirationDate}">Ablaufdatum</th>
					</tr>
                </thead>
                <tbody>
					<tr>
                		<td>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="name" class="mdl-textfield__input" type="text" id="name"  autofocus=""/>
        <label class="mdl-textfield__label" for="name">Zutaten Name</label>
      </div></td>
					<td><table border="0"><tr>
      <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100px">
        <input name="quantity" class="mdl-textfield__input" type="text" id="quantity" pattern="-?[0-9]*(\.[0-9]+)?" min="0"/>
        <label class="mdl-textfield__label" for="quantity">Anzahl</label>
        <span class="mdl-textfield__error">Zahl eingeben!</span>
      </div></td><td>
      <div align="left">
      <p><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
      <input type="radio" id="option-1" class="mdl-radio__button" name="metric" value="KILOGRAM" checked=""/>
      <span class="mdl-radio__label">Kilo</span>
      </label></p>
      <p><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
      <input type="radio" id="option-2" class="mdl-radio__button" name="metric" value="LITER"/>
      <span class="mdl-radio__label">Liter</span>
      </label></p>
      <p><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
      <input type="radio" id="option-3" class="mdl-radio__button" name="metric" value="UNIT"/>
      <span class="mdl-radio__label">Stück</span>
      </label></p>
      </div></td>
      </tr></table></td>
					<td>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100px">
        <input name="price" class="mdl-textfield__input" type="text" pattern="(^\d+(\.)\d{2}$)" id="price"/>
        <label class="mdl-textfield__label" for="price">Preis</label>
        <span class="mdl-textfield__error">Geldbetrag eingeben!</span>
      </div></td>
					<td>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:35px">
        <input name="DD" class="mdl-textfield__input" type="number" id="DD" min="1" max="31" style="width:35px"/>
        <label class="mdl-textfield__label" for="DD">TT</label>
        <span class="mdl-textfield__error">Tag eingeben!</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:45px">
        <input name="MM" class="mdl-textfield__input" type="number" id="MM" min="1" max="12" style="width:45px"/>
        <label class="mdl-textfield__label" for="MM">MM</label>
        <span class="mdl-textfield__error">Monat eingeben!</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:55px">
        <input name="YYYY" class="mdl-textfield__input" type="number" id="YYYY" min="2015" style="width:55px"/>
        <label class="mdl-textfield__label" for="YY">JJJJ</label>
        <span class="mdl-textfield__error">Jahr eingeben!</span>
      </div>
					</td>
				</tr>
         	</tbody>
			</table><br/><br/>
			<button type="submit" id="submit" value="Zutat Hinzufügen" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled="disabled"><em class="material-icons">add</em></button>
			</form>
            <script type="text/javascript" src="/resources/js/ingredient_add_check.js"></script>
			</main>
		</div>
	</div>
</body>
</html>