<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/material.min.css" />
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_green-light_blue.min.css" /> 
    	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"></link>
		<title th:text="#{home.title}">eCatering</title>
	</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<p class="login_screen" th:text="#{createMeal.welcome}">Willkommen beim eCatering.</p>
            
            <table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createRecipe.name}">Name</th>
                    </tr></thead>
                    <tbody id="allRecipes">
                    	<tr th:each="recipe : ${allVacantPostions} ">
							<td class="mdl-data-table__cell--non-numeric">
                            	<i class="material-icons" style="cursor:pointer" onmouseover="highlight(this)" onmouseout="normal(this)" id="add">add_circle</i>
                            </td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<input class="mdl-textfield__input" type="text" id="ing" name="name" style="cursor:default; border-style:hidden" th:value="${recipe.name}" readonly=""/>
                            </td>
						</tr>
                 	</tbody>
            	</table>
            
            <br/>
            <script type="text/javascript" src="/resources/js/meal_handler.js"></script>
            <form class="login_screen" th:action="@{/addMeal}" method="post">
			<table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createMeal.name}">Name</th>
                        <th>Multiplikator <input align="middle" class="mdl-slider mdl-js-slider" id="initial_mult" type="range" min="1" max="3" step="0.05" value="1.5"/></th>
                        <th th:text="#{createMeal.line}">Menulinie</th>
                    </tr></thead>
                    <tbody id="usedRecipes">
                 	</tbody>
            	</table>
            
            <br/>
			<button type="submit" id="submit" value="Mahlzeit Erstellen" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled="disabled"><em class="material-icons" >add</em></button>
			</form>
			</main>
	</div>
</body>
</html>