<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<h1 class="login_screen" th:text="#{createPlan.welcome}">Speiseplanverwaltung</h1>
			<p class="login_screen" th:text="#{createPlan.instruct}">Doppelklicken zum Hinzufügen</p>
           	<br/>
            
            	<table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createPlan.regular}">Name</th>
                    </tr></thead>
                    <tbody id="allMealsRegular">
                    	<tr th:each="meal : ${allMealsRegular} ">
							<td class="mdl-data-table__cell--non-numeric">
                            	<i class="material-icons" style="cursor:pointer" onmouseover="highlight(this)" onmouseout="normal(this)" id="add">add_circle</i>
                            </td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<input class="mdl-textfield__input" type="text" id="meal" name="meal" style="cursor:default; border-style:hidden" th:value="${meal.name}" readonly =""/>
                            </td>
						</tr>
                 	</tbody>
            	</table>
                <table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createPlan.diet}">Name</th>
                    </tr></thead>
                    <tbody id="allMealsDiet">
                    	<tr th:each="meal : ${allMealsDiet} ">
							<td class="mdl-data-table__cell--non-numeric">
                            	<i class="material-icons" style="cursor:pointer" onmouseover="highlight(this)" onmouseout="normal(this)" id="add">add_circle</i>
                            </td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<input class="mdl-textfield__input" type="text" id="meal" name="meal" style="cursor:default; border-style:hidden" th:value="${meal.name}" readonly =""/>
                            </td>
						</tr>
                 	</tbody>
            	</table>
                <table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createPlan.special}">Name</th>
                    </tr></thead>
                    <tbody id="allMealsSpecial">
                    	<tr th:each="meal : ${allMealsSpecial} ">
							<td class="mdl-data-table__cell--non-numeric">
                            	<i class="material-icons" style="cursor:pointer" onmouseover="highlight(this)" onmouseout="normal(this)" id="add">add_circle</i>
                            </td>
							<td class="mdl-data-table__cell--non-numeric">
                            	<input class="mdl-textfield__input" type="text" id="meal" name="meal" style="cursor:default; border-style:hidden" th:value="${meal.name}" readonly =""/>
                            </td>
						</tr>
                 	</tbody>
            	</table>
			<script type="text/javascript" src="/resources/js/mealplan_handler.js"></script>
            <form class="login_screen" th:action="@{/savePlan}" method="post">
            
            <br/>
			<table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createPlan.regularUsed}">Name</th>
                    </tr></thead>
                    <tbody id="usedMealsRegular">
                 	</tbody>
            	</table>
			<table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createPlan.dietUsed}">Name</th>
                    </tr></thead>
                    <tbody id="usedMealsDiet">
                 	</tbody>
            	</table>
			<table class="login_screen mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead><tr>
                    	<th class="mdl-data-table__cell--non-numeric"><i class="material-icons">assignment</i></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{createPlan.specialUsed}">Name</th>
                    </tr></thead>
                    <tbody id="usedMealsSpecial">
                 	</tbody>
            	</table>
                <br/>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
                	<label class="mdl-button mdl-js-button mdl-button--icon" th:for="week">
          				<i class="material-icons">date_range</i>
        			</label>
        			<div class="mdl-textfield__expandable-holder" style="width:40px">
          				<input name="week" class="mdl-textfield__input" type="number" id="week" min="1" max="54"/>
        				<label class="mdl-textfield__label" th:for="week">Woche #</label>
        				<span class="mdl-textfield__error">Zahl eingeben</span>
        			</div>
      			</div>
                
                <p><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
      				<input type="radio" id="option-1" class="mdl-radio__button" name="helping" value="regular" checked=""/>
                    <i class="material-icons">face</i>
      				<span class="mdl-radio__label">Regular</span>
     			</label></p>
      			<p><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
      				<input type="radio" id="option-2" class="mdl-radio__button" name="helping" value="small"/>
                    <i class="material-icons">child_care</i>
      				<span class="mdl-radio__label">Small</span>
      			</label></p>
                
            	<br/>
				<button type="submit" id="submit" value="Rezept aufnehmen" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled="disabled"><em class="material-icons">event_available</em></button>
			</form>
            <script type="text/javascript" src="/resources/js/mealplan_add_check.js"></script>
            <br/>
            <div class="mdl-layout-spacer"></div>
            <footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>