<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/material.min.css" />
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_green-light_blue.min.css" />  
    	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"></link>
	</head>
<body>    
    <div th:fragment="header" >
        <div class="mdl-layout__header-row">
        	<span class="mdl-layout-title" style="color: white;" th:text="#{home.title}">BestFoodCatering</span>
            <div class="mdl-layout-spacer"></div>
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            	<i class="material-icons">more_vert</i>
            </button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
  					<li disabled="disabled" class="mdl-menu__item">
                    	<i class="material-icons">info</i>
               			<span>Impressum</span>
                    </li>
                    <li disabled="disabled" class="mdl-menu__item">
                    	<i class="material-icons">mail</i>
               			<span>Kontakt</span>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="mdl-menu__item">
               			<form th:action="@{/logout}" method="post" class="login_screen">
			            	<button type="submit" value="Logout" class="mdl-button mdl-js-button mdl-js-button" th:value="#{nav.logout}">
			                	<i class="material-icons">exit_to_app</i>
			                	<span>Logout</span>
			                </button>
						</form>
                    </li>
				</ul>
        </div>
	</div>
	<div th:fragment="drawer" >
			<span class="mdl-layout-title">
            	<p></p>
               	<img class="mdl-logo" alt="Logo" th:src="@{'/resources/icon/logo_dot.png'}" height="140" width="140"></img>
    	<div class="mdl-layout__drawer-button">
        	<i class="material-icons">menu</i>
        </div>
            </span>
            <nav class="mdl-navigation">
            	<a class="mdl-navigation__link mdl-navigation__link--icon" href="/index">
                <img alt="Home" th:src="@{'/resources/icon/home2.png'}" height="36" width="36"/>
                    <span>Home</span>
                </a>
      			<div class="subheader" sec:authorize="isAuthenticated()" th:text="#{userArea.title}">User</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/showPlan" sec:authorize="isAuthenticated()">
               	<img alt="User" th:src="@{'/resources/icon/waarenkorb.png'}" height="36" width="36"></img>
                    <span>Speiseplan</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{kitchen.title}">Kitchen</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createRecipe" sec:authorize="isAuthenticated()">
                    <img alt="Kitchen" th:src="@{'/resources/icon/kitchen.png'}" height="36" width="36"></img>
                <span>Rezepte</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{stock.title}">Stock</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createGrocery" sec:authorize="isAuthenticated()">
                    <img alt="Ingredient" th:src="@{'/resources/icon/ingredient.png'}" height="36" width="36"></img>
                <span>Lebensmittel</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/inventory" sec:authorize="isAuthenticated()">
                    <img alt="Inventory" th:src="@{'/resources/icon/inventory.png'}" height="36" width="36"></img>
                <span>Lagerhaltung</span>
                </a>
                <div class="subheader" sec:authorize="isAuthenticated()" th:text="#{accounting.title}">Accounting</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createBusiness" sec:authorize="isAuthenticated()">
                    <img alt="finance" th:src="@{'/resources/icon/finance.png'}" height="36" width="36"></img>
                <span>Businesses</span>
                </a>
	</nav>
	</div>
</body>
</html>
