<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<div th:fragment="head">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/css/material.min.css" />
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_green-light_blue.min.css" /> 
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"></link>
		<title th:text="#{home.title}">eCatering</title>
	</div>
    <div th:fragment="header" >
        <div class="mdl-layout__header-row">
        	<span class="mdl-layout-title" style="color: white;" th:text="#{home.title}">BestFoodCatering</span>
            <div class="mdl-layout-spacer"></div>
            <a style="color: rgba(0, 0, 0, 0.87);" sec:authorize="hasRole('ROLE_CUSTOMER')" id="cart" class="mdl-button mdl-js-button mdl-button--icon material-icons" href="/cart">shopping_cart</a>
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            	<i class="material-icons">more_vert</i>
            </button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
  					<li class="mdl-menu__item login_screen"><a href="/about" style="color: rgba(0, 0, 0, 0.87);">
                    	<i class="material-icons">info</i>
               			<span>Impressum</span>
                    </a></li>
                    <li class="mdl-menu__item login_screen"><a  href="/contact" style="color: rgba(0, 0, 0, 0.87);">
                    	<i class="material-icons">mail</i>
               			<span>Kontakt</span>
                    </a></li>
                    <li sec:authorize="isAuthenticated()" class="mdl-menu__item">
               			<form th:action="@{/logout}" method="post">
			            	<button type="submit" value="Logout" class="mdl-button" style="background-color:inherit" th:value="#{nav.logout}">
			                	<i class="material-icons">exit_to_app</i>
			                	<span>Logout</span>
			                </button>
						</form>
                    </li>
				</ul>
        </div>
	</div>
	<div th:fragment="drawer" >
			<span class="mdl-layout-title">
            	<p></p>
               	<img class="mdl-logo" alt="Logo" th:src="@{'/resources/icon/logo_dot.png'}" height="140" width="140"></img>
    	<div class="mdl-layout__drawer-button">
        	<i class="material-icons" style="vertical-align:inherit">menu</i>
        </div>
            </span>
            <nav class="mdl-navigation">
            	<a class="mdl-navigation__link mdl-navigation__link--icon" href="/index">
                <img alt="Home" th:src="@{'/resources/icon/home2.png'}" height="36" width="36"/>
                    <span>Home</span>
                </a>
      			<div class="subheader" sec:authorize="hasRole('ROLE_CUSTOMER')" th:text="#{userArea.title}">User</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/showPlan" sec:authorize="hasRole('ROLE_CUSTOMER')">
               	<img alt="User" th:src="@{'/resources/icon/waarenkorb.png'}" height="36" width="36"></img>
                    <span>Speiseplan</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/UserAccount" sec:authorize="hasRole('ROLE_CUSTOMER')">
               	<img alt="User" th:src="@{'/resources/icon/user2.png'}" height="36" width="36"></img>
                    <span>Account</span>
                </a>
                <div class="subheader" sec:authorize="hasRole('ROLE_KITCHEN')" th:text="#{kitchen.title}">Kitchen</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createRecipe" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <img alt="Kitchen" th:src="@{'/resources/icon/recipe.png'}" height="36" width="36"></img>
                <span>Rezepte</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/kitchenReport" sec:authorize="hasRole('ROLE_KITCHEN')">
                    <img alt="Kitchen" th:src="@{'/resources/icon/kitchen.png'}" height="36" width="36"></img>
                <span>Küchenbericht</span>
                </a>
                <div class="subheader" sec:authorize="hasRole('ROLE_STOCK')" th:text="#{stock.title}">Stock</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createGrocery" sec:authorize="hasRole('ROLE_STOCK')">
                    <img alt="Ingredient" th:src="@{'/resources/icon/ingredient.png'}" height="36" width="36"></img>
                <span>Lebensmittel</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/inventory" sec:authorize="hasRole('ROLE_STOCK')">
                    <img alt="Inventory" th:src="@{'/resources/icon/inventory.png'}" height="36" width="36"></img>
                <span>Lagerhaltung</span>
                </a>
                <div class="subheader" sec:authorize="hasRole('ROLE_ACCOUNTING')" th:text="#{accounting.title}">Accounting</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createMeal" sec:authorize="hasRole('ROLE_ACCOUNTING')">
                    <img alt="finance" th:src="@{'/resources/icon/meal.png'}" height="36" width="36"></img>
                <span>Gericht Erstellen</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createPlan" sec:authorize="hasRole('ROLE_ACCOUNTING')">
                    <img alt="finance" th:src="@{'/resources/icon/options.png'}" height="36" width="36"></img>
                <span>Plan Erstellen</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/retrieveVacantPositions" sec:authorize="hasRole('ROLE_ACCOUNTING')">
                    <img alt="finance" th:src="@{'/resources/icon/finance.png'}" height="36" width="36"></img>
                <span>Rechnungen</span>
                </a>
                <a class="mdl-navigation__link mdl-navigation__link--icon" href="/createBusiness" sec:authorize="hasRole('ROLE_ACCOUNTING')">
                    <img alt="finance" th:src="@{'/resources/icon/user2.png'}" height="36" width="36"></img>
                <span>Businesses</span>
                </a>
	</nav>
	</div>
	<div th:fragment="footer">
    	<div class="mdl-mega-footer__middle-section" >
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
          <h1 class="mdl-mega-footer__heading"><i class="material-icons">info_outline</i></h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="/about">About</a></li>
            <li><a target="_blank" href="/help">Help</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
    
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
          <h1 class="mdl-mega-footer__heading"><i class="material-icons">group</i></h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="https://github.com/Djbobo693">Born, Jeannine</a></li>
            <li><a href="https://github.com/Luke5">Haack, Lukas Adrian</a></li>
            <li><a href="https://github.com/ojuettner">Jüttner, Oliver</a></li>
            <li><a href="https://github.com/joprecht">Precht, Jonas</a></li>
            <li><a href="https://github.com/affis">Sandvig, Alfred</a></li>
          </ul>
        </div>
    
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
          <h1 class="mdl-mega-footer__heading">
            <i class="material-icons">code</i></h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="https://www.spring.io">Spring Framework</a></li>
            <li><a href="http://www.salespoint-framework.org">Salespoint</a></li>
            <li><a href="http://www.getmdl.io">Google MDL</a></li>
            <li><a href="https://www.github.com/st-tu-dresden-2015/swt15w31">GitHub</a></li>
          </ul>
        </div>
        
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
          <h1 class="mdl-mega-footer__heading">
            <i class="material-icons">school</i></h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="http://www.tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/smt/st/studium?subject=299">Project</a></li>
            <li><a href="https://auditorium.inf.tu-dresden.de/de/groups/110406016">Auditorium</a></li>
            <li><a href="https://www.github.com/st-tu-dresden-2015">Software Engineering Lab</a></li>
          </ul>
        </div>
        </div>
	</div>
</html>
