<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<p class="login_screen" th:text="#{listMeals.welcome}">Willkommen beim eCatering.</p>
			<div class="login_screen">
	        <select th:onchange="'javascript:change_tbl(this.value);'" class="login_screen">
	        	<option value="" selected="" disabled="">Rezept Auswählen</option>
		        <option th:each="recipe: ${allRecipes}" th:text="${recipe.description}" th:value="${recipe.description}">Fleisch</option>
	        </select></div><br/><br/>
	        <div id="tbl_div" class="login_screen">
	            <div th:each="recipe: ${allRecipes}" th:id="${recipe.description}">
	                <table class="login_screen">
	                    <tr>
	                        <th>Zutat</th>
	                        <th>Menge</th>
	                    </tr>
						<tr th:each="ingredient: ${recipe.ingredients}">
	                        <td  th:text="${ingredient.product.name}">Test</td>
	                        <td  th:text="${ingredient.quantity}">Test</td>
	                    </tr>
	                </table>
	            </div>
            </div>
            <br/>
            <div class="mdl-layout-spacer"></div>
        	<footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>