<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<p class="login_screen" th:text="#{listMeals.welcome}">Willkommen beim eCatering.</p>
			
            <table class="login_screen mdl-data-table mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
            			<thead><tr>
            				<th class="mdl-data-table__cell--non-numeric" th:text="#{listMeals.name}">Name</th>
            				<th th:text="#{listMeals.price}">Preis</th>
            				<th th:text="#{listMeals.type}">Typ</th>
            			</tr></thead>
                        <tbody>
	        			<tr th:each="meal: ${allMeals} ">
							<td class="mdl-data-table__cell--non-numeric" th:text="${meal.name}"></td>
							<td th:text="${meal.price}"></td>
							<td th:text="${meal.mealType}"></td>
						</tr></tbody>
	        </table>
            <br/>
            <div class="mdl-layout-spacer"></div>
        	<footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>