<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
        <main class="mdl-layout__content">
			<h1 class="login_screen" th:text="#{register.title}">Registrieren</h1>
			<p class="login_screen" th:text="#{register.welcome}">Willkommen</p>
			<form action="registerUser" class="login_screen">
      			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="text" name="username" id="username"/>
        			<label class="mdl-textfield__label" for="username">Username</label>
      			</div>
                <p class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="email" name="email" id="email"/>
        			<label class="mdl-textfield__label" for="email">Email-Adresse</label>
      			</p>
      			<br/>
                  <p class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input name="firstname" class="mdl-textfield__input" type="text" id="firstname"/>
                    <label class="mdl-textfield__label" for="firstname">Vorname</label>
                  </p>
                  <p class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input name="lastname" class="mdl-textfield__input" type="text" id="lastname"/>
                    <label class="mdl-textfield__label" for="lastname">Nachname</label>
                  </p>
                  <br/>
      			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="text" name="referal" id="referal"/>
        			<label class="mdl-textfield__label" for="referal">Referenzcode</label>
      			</div>
      			<br/>
      			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="password" name="password" id="password"/>
        			<label class="mdl-textfield__label" for="password">Password</label>
      			</div>
      			<br/>
            	<button style="padding-bottom:5px" type="submit" value="Anmelden" id="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled="disabled">
           			<i class="material-icons">assignment_ind</i>
                	<span>Register</span>
        		</button>
      		</form>
      		<script type="text/javascript" src="/resources/js/signup_check.js"></script>
        <br/>
        <div class="mdl-layout-spacer"></div>
        <footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>