<!DOCTYPE html>

<html class="mdl-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout :: head"></head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    	<div th:include="layout :: drawer" class="mdl-layout__drawer"></div>
        <header th:include="layout :: header" class="mdl-layout__header is-casting-shadow"></header>
		<main class="mdl-layout__content">
			<h1 class="login_screen" style="font-weight:lighter" th:text="#{showPlan.welcome}">Speiseplan</h1>
			<p class="login_screen" style="width:66%" th:text="#{showPlan.instruct}">Hinzufügen von Menus mit Anzahl zum Waarenkorb</p>
            	<form action="/cart" method="post">
          		<div align="center" class="android-card-container mdl-grid" th:each="menu : ${secondNextWeek}" action="/cart" method="post">
                	<div class="android-section-title mdl-typography--display-1-color-contrast" style="width:100%" th:text="'Woche '+${menu.calendarWeek}">KalenderWoche</div>
                    <br/>
            		<div th:each="dailyMenu : ${menu.dailyMenus}" class="mdl-cell mdl-cell--2-col-desktop mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              			<div class="mdl-card__media">
                			<img alt="FoodImage" th:id="'img'+${dailyMenu.day}" th:src="@{'/resources/jpg/regular'+${dailyMenu.day}+'.jpg'}"/>
              			</div>
      					<div class="mdl-card__title">
        					<h4 th:text="${dailyMenu.day}">Tag</h4>
      					</div>
      					<div class="mdl-card__supporting-text">
        					<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                            	<script type="text/javascript" src="/resources/js/plan.js"></script>
  								<div class="mdl-tabs__tab-bar">
      									<a th:href="'#REGULAR'+${dailyMenu.day}" class="mdl-tabs__tab is-active" th:onclick="'newImage(\'regular\',\''+${dailyMenu.day}+'\')'"><i class="material-icons">local_dining</i></a>
      									<a th:href="'#DIET'+${dailyMenu.day}" class="mdl-tabs__tab" th:onclick="'newImage(\'diet\',\''+${dailyMenu.day}+'\')'"><i class="material-icons">spa</i></a>
      									<a th:href="'#SPECIAL'+${dailyMenu.day}" class="mdl-tabs__tab" th:onclick="'newImage(\'special\',\''+${dailyMenu.day}+'\')'"><i class="material-icons">star</i></a>
  								</div>
                                <div th:each="dailyMeal : ${dailyMenu.dailyMeals}">
                                	<div class="mdl-tabs__panel" th:id="${dailyMeal.meal.mealType}+${dailyMenu.day}">
    									<p th:text="${dailyMeal.meal.name}">Mahlzeiten Name</p>
                       					<p th:text="${dailyMeal.price}">Preis</p>
                                 		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
        									<label class="mdl-button mdl-js-button mdl-button--icon" th:for="${dailyMeal.identifier}">
          										<i class="material-icons">add_shopping_cart</i>
        									</label>
        									<div class="mdl-textfield__expandable-holder" style="width:40px">
          										<input name="meal" type="hidden" th:value="${dailyMeal.identifier}"/>
          										<input name="number" class="mdl-textfield__input" type="number" th:id="${dailyMeal.identifier}"  required="" min="0" value="0"/>
        										<label class="mdl-textfield__label" th:for="${dailyMeal.identifier}">Anzahl</label>
        										<span class="mdl-textfield__error">Zahl eingeben</span>
        									</div>
      									</div>
     								</div>
                         		</div>
							</div>
      					</div>
      					<div class="mdl-card__menu">
    						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" type="button" onClick="alert('Hinweise für Allergiker: Enthält Gluten! Kann Spuren von Nüssen enthalten!')">
      							<i style="color: white;" class="material-icons">more_vert</i>
    						</button>
  						</div>
    				</div>
            	</div>
                <div align="center" style="padding:10px" sec:authorize="hasRole('ROLE_CUSTOMER')">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><em class="material-icons">shopping_cart</em></button>
                </div>
         	</form>
          <br/>
          <div class="mdl-layout-spacer"></div>
          <footer th:include="layout :: footer" class="mdl-mega-footer"></footer>
		</main>
	</div>
</body>
</html>